<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to HTTPS (optional)
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Make sure directory listings are disabled
    Options -Indexes

    # Rewrite all requests to the front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /index.php [L]

</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 500 /index.php
</IfModule>
